<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head" >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:replace="layout::titulo"></h1>
<div th:replace="layout::menu"></div>
<div class="container-producto">

    <div class="header-con-logo">
        <img src="/logos/empleado.png" alt="Logo" class="logo">
        <h1>Registrar Nuevo Empleado</h1>
    </div>



    <form action="#" th:action="@{/Empleado/save}" th:object="${empleado}" method="post">
        <label>Nombre: <input type="text" th:field="*{nombre}" /></label>
        <label>Apellido: <input type="text" th:field="*{apellido}" /></label>
        <label>Teléfono: <input type="text" th:field="*{telefono}" /></label>
        <label>Estado:
            <select th:field="*{estado.idestado}">
                <option th:each="est : ${estados}" th:value="${est.idestado}" th:text="${est.nombreestado}"></option>
            </select>
        </label><br/>
        <button type="submit">Guardar</button>
    </form>



</div>

</body>
</html>