<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head" >
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1 th:replace="layout::titulo"></h1>
<div th:replace="layout::menu"></div>
<div class="container-producto">
  <div class="header-con-logo">
  <img src="/logos/empleado.png" alt="Logo" class="logo">
  <h1>Lista de Empleados</h1>
  </div>

  <a href="/Empleado/create">INGRESAR NUEVO EMPLEADO</a>
  <table border="1">
    <tr>
      <th>ID</th><th>Nombre</th><th>Apellido</th><th>Teléfono</th><th>Estado</th><th>Acciones</th>
    </tr>
    <tr th:each="empleado : ${empleados}">
      <td th:text="${empleado.idempleado}"></td>
      <td th:text="${empleado.nombre}"></td>
      <td th:text="${empleado.apellido}"></td>
      <td th:text="${empleado.telefono}"></td>
      <td th:text="${empleado.estado.nombreestado}"></td>
      <td>
        <a th:href="@{'/Empleado/edit/' + ${empleado.idempleado}}">Editar</a>
      </td>
    </tr>
  </table>







</div>

</body>
</html>