<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head" >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:replace="layout::titulo"></h1>
<div th:replace="layout::menu"></div>
<div class="container-producto">

    <h1>Listado de Proveedores</h1>
    <a href="/proveedor/create">INGRESAR NUEVO PROVEEDOR</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Dirección</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="proveedor : ${proveedores}">
            <tr>
                <td th:text="${proveedor.idproveedor}"></td>
                <td th:text="${proveedor.nombre}"></td>
                <td th:text="${proveedor.telefono}"></td>
                <td th:text="${proveedor.correo}"></td>
                <td th:text="${proveedor.direccion}"></td>
                <td th:text="${proveedor.estado.nombreestado}"></td>
                <td>
                    <a th:href="@{/proveedor/edit/{id}(id=${proveedor.idproveedor})}">Editar</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>
</body>
</html>