<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head" >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:replace="layout::titulo"></h1>
<div th:replace="layout::menu"></div>
<div class="container-producto">


    <h1>Editar Producto</h1>

    <form action="#" th:action="@{/producto/save}" th:object="${producto}" method="post">
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" th:field="*{nombre}" required />
        </div>

        <div>
            <label for="precio">Precio</label>
            <input type="number" id="precio" th:field="*{precio}" required />
        </div>

        <div>
            <label for="cantidad">Cantidad</label>
            <input type="number" id="cantidad" th:field="*{cantidad}" required />
        </div>

        <div>
            <label for="categoria">Categoría</label>
            <select id="categoria" th:field="*{categoria.idcategoria}">
                <option th:each="categoria : ${categorias}" th:value="${categoria.idcategoria}" th:text="${categoria.nombre}"
                        th:selected="${producto.categoria.idcategoria == categoria.idcategoria}"></option>
            </select>
        </div>

        <div>
            <label for="estado">Estado</label>
            <select id="estado" th:field="*{estado.idestado}">
                <option th:each="estado : ${estados}" th:value="${estado.idestado}" th:text="${estado.nombreestado}"
                        th:selected="${producto.estado.idestado == estado.idestado}"></option>
            </select>
        </div>

        <div>
            <label for="proveedor">Proveedor</label>
            <select id="proveedor" th:field="*{proveedor.idproveedor}">
                <option th:each="proveedor : ${proveedores}" th:value="${proveedor.idproveedor}" th:text="${proveedor.nombre}"
                        th:selected="${producto.proveedor.idproveedor == proveedor.idproveedor}"></option>
            </select>
        </div>

        <button type="submit">Guardar Cambios</button>
    </form>




</div>
</body>
</html>