<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head" >
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1 th:replace="layout::titulo"></h1>
<div th:replace="layout::menu"></div>
<div class="container-producto">
  <h2>DETALLE DE TODOS LOS PRODUCTO</h2>

  <div class="buscador">
    <input type="text" placeholder="Buscar producto...">
    <div class="buscador-botones">
      <button>Buscar</button>
      <button>Eliminar</button>
      <button>Limpiar</button>
    </div>
  </div>


  <div class="tabla-container">
    <table class="tabla-productos">
      <thead>
      <tr>
        <th>Código Producto</th>
        <th>Estado Producto</th>
        <th>Nombre del Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Categoría</th>
        <th>Proveedor</th>
        <th>Estado Proveedor</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>001</td>
        <td>Activo</td>
        <td>Ropero</td>
        <td>$100</td>
        <td>200</td>
        <td>Muebles</td>
        <td>Proveedor X</td>
        <td>En quiebra</td>
      </tr>

      </tbody>
    </table>
  </div>





</div>

</body>
</html>